:root {
  --clr-body: #1d1b3c;
  --clr-text: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--clr-body);
  color: var(--clr-text);
}
