:root {
  --clr-body: #ffffff;
  --clr-text: #001d3d;
  --clr-black: #000000;
  --clr-accent: #ff9d00;

  --inner-container-width: 930px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--clr-body);
  color: var(--clr-text);
}
