---
const { id } = Astro.props;
---

<button id={id} class="arrow">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    height="24px"
    viewBox="0 0 24 24"
    width="24px"
    fill="currentColor"
  >
    <path d="M0 0h24v24H0V0z" fill="none"></path>
    <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"
    ></path>
  </svg>
</button>

<style>
  .arrow {
    width: 48px;
    height: 48px;
    margin: 0 auto;
    padding: 0;
    display: none;
    align-items: center;
    justify-content: center;
    color: var(--clr-text);
    background-color: #fff;
    border: solid 1px var(--clr-text);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
  }

  .arrow:hover {
    color: #f6bb42;
    border-color: #f6bb42;
  }

  @media screen and (min-width: 768px) {
    .arrow {
      display: flex;
    }
  }
</style>
