---
const { title } = Astro.props;
---

<div class="bages">
  <h6 class="title">{title}</h6>
  <ul class="bages-list">
    <slot />
  </ul>
</div>

<style>
  .bages {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.15s ease-in-out;
  }

  .title {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .bages-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
</style>
