---
const { label } = Astro.props;
---

<li class="bage">
  {label}
</li>

<style>
  .bage {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 16px;
    color: var(--clr-text);
    border: solid 1px var(--clr-text);
    font-size: 14px;
    cursor: default;
  }
</style>
