---
import SocialLinks from "./SocialLinks.astro";
const today = new Date();
const year = today.getFullYear();
---

<footer class="footer">
  <div class="inner-footer">
    <div>{`© ${year} Viktor Kushchenko`}</div>
    <SocialLinks />
  </div>
</footer>

<style>
  .footer {
    padding: 0 16px;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .inner-footer {
    width: 100%;
    max-width: var(--inner-container-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>
