---

---

<nav class="nav-desktop">
  <ul class="nav-desktop__list">
    <li class="nav-desktop__list-item">
      <a class="nav-desktop__link" href="/">About me</a>
    </li>
    <li class="nav-desktop__list">
      <a class="nav-desktop__link" href="/contacts">Contacts</a>
    </li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>

<style>
  .nav-desktop {
    display: none;
  }

  .nav-desktop__list {
    display: flex;
    align-items: center;
    gap: 32px;
    list-style: none;
  }

  @media screen and (min-width: 769px) {
    .nav-desktop {
      height: 60px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
</style>
