---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/index.css" />
    <link rel="stylesheet" href="/fonts.css" />

    <title>Kushchenko Viktor</title>
  </head>
  <body class="body">
    <GlobalStyles />
    <Header />

    <main class="main">
      <div class="inner-main">
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>

<style>
  .body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: 100dvh;
  }

  .main {
    padding: 0 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .inner-main {
    width: 100%;
    max-width: var(--inner-container-width);
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
</style>
